# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
digi-frontend/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.production
.env.testing

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/

# Production
/build

# Vite
*.local

# Temporary files
.temp
.tmp
.cache/

# Database
*.sqlite
*.db

# SSL
*.pem
*.key
*.crt

# Misc
.thumbs.db
Thumbs.db
*.bak
*.zip
*.gz
*.tgz
*.tar
*.rar
bower_components/
jspm_packages/

# Debug
.debug

# Docker
.dockerignore

