.container {
  background-color: var(--white);
  border-radius: 5px;
  padding-bottom: 1rem;
}

.title {
  padding: 0.2rem 1.4rem;
}

.titleContent {
  text-align: start;
  color: var(--honoblue);
}

.controlPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.searchContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 0.4rem;
  border: 1px solid var(--honoblue);
  border-radius: 8px;
  cursor: pointer;
}

.search {
  border: none;
  margin: 0;
  outline: none;
  width: 15em;
  cursor: text;
  height: 1.5rem;
  width: 100%;
}

.search::placeholder {
  font-weight: 500;
  font-size: 16px;
}

.searchBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.magnifier {
  font-size: 24px;
  font-weight: 700;
}

.controller {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;
}

.btn {
  padding: 4px 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btnname {
  font-size: 17px;
  font-weight: 500;
}

.dropDownSelect {
  border: 1px solid var(--white);
  background-color: var(--white);
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

.dropDownSelect:focus {
  border-color: var(--honoblue);
  box-shadow: 0 0 5px rgba(29, 78, 216, 0.3);
}

.tableContent {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 10px 18px;
  /* margin: 0 15px; */
  margin-right: 15px;
}

.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.tableContainer th {
  background-color: var(--honoblue);
  text-align: left;
}

.tableContainer td {
  max-width: 220px;
  white-space: normal;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.tableContainer td,
.tableContainer th {
  border: 1px solid #ddd;
  padding: 12px 10px;
  text-align: center;
}

.tableContainer tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tableContainer tr:nth-child(odd) {
  background-color: #fff;
}

.tableContainer tr:hover {
  background-color: #f1f1f1;
}

.footer {
  padding: 0.2rem 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerItems {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageBtn {
  padding: 0.2rem 0.6rem;
  cursor: pointer;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
}

.pageBtn:hover {
  transform: scale(1.5);
}

.symbols {
  margin: 0;
  padding: 0;
}

.pagenation {
  border-radius: 8px;
  border: 1px solid var(--honoblue);
  padding: 0.2rem 0.7rem;
  color: var(--white);
  background-color: var(--honoblue);
  margin: 0px 4px;
  font-weight: 500;
}

.pagenation p {
  margin: 0;
  padding: 0;
}

.dummy {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 789px) {
  .controller {
    justify-content: space-around;
    margin-top: 12px;
  }
  .searchContainer {
    flex-grow: 1;
  }
}
