.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--snowwhite);
  min-height: calc(100vh - 80px);
  height: auto;
  padding-top: 80px;
  width: 100%;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.hide_password {
  cursor: pointer;
  color: grey !important;
  position: absolute;
  right: 20px;
  top: auto;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.imgcoloum,
.formcoloum {
  width: 100%;
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgContainer img {
  width: 80%;
  background-color: transparent;
  padding-top: 10px;

  box-shadow: rgba(0, 0, 0, 0.02) 0px 3px 5px;
}
.formcoloum {
  padding: 2px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.heading h2 {
  color: var(--honoblue);
  margin: 15px 0;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  position: static;
}
.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.inputFeild {
  display: inline;
  margin-bottom: 1rem;
  height: 2.5rem;
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  border: 1px solid var(--honoblue);
  color: var(--jetblack);
  font-size: 1.1rem;
  width: 90%;
}

.inputFeild:focus-visible {
  border: 1px solid var(--orangepeel);
  outline: var(--orangepeel) auto 1px;
}
.btnContainer {
  margin-top: 25px;
}
.errors {
  color: red;
  margin: 0.3rem 0 0.5rem 0;
  text-align: center;
}
@media (min-width: 900px) {
  .row {
    flex-direction: row;
  }
  .imgcoloum {
    width: 45%;
  }

  .formcoloum {
    width: 55%;
    padding-top: 30px;
  }
  .imgContainer img {
    padding-left: 60px;
    margin-left: 30px;
  }
}
