.searchBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 8px;
  border-radius: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  /* width: 60%; */
  margin: 0 auto;
}

.searchBarInput {
  flex: 1;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 50px;
  margin: 0 10px 10px 10px;
  outline: none;
  background-color: var(--snowwhite);
}

.searchBarSelect {
  border: none;
  background-color: white;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 50px;
  margin: 0 10px 0;
  outline: none;
  text-align: center;
}

.searchBarButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  width: 80%;
}

.verticalLine {
  height: 30px;
  color: gray;
  display: none;
}

@media (min-width: 768px) {
  .searchBarContainer {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .searchBarContainer {
    width: 60%;
    flex-direction: row;
  }

  .searchBarInput {
    margin: 0 10px;
  }
  .searchBarButton {
    border-radius: 50px;
    width: 20%;
  }
  .verticalLine {
    display: block;
  }
}
