.form {
  position: static;
}

#styledInput {
  margin-bottom: 1rem;
  height: 2.5rem;
  padding: 0.25rem 1rem;
  border-radius: 4px;
  border: 1px solid var(--honoblue);
  color: var(--jetblack);
  font-size: 1.1rem;
  width: 100%;
  box-sizing: border-box;
}

#styledInput:focus-visible,
.selectBType:focus-visible {
  border: 1px solid var(--orangepeel);
  outline: var(--orangepeel) auto 1px;
}

.selectBType {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 2.5rem;
  padding: 0.25rem 1rem;
  border-radius: 4px;
  border: 1px solid var(--honoblue);
  color: var(--jetblack);
  font-size: 1.1rem;
  width: 100%;
  box-sizing: border-box;
}

#errors {
  color: red;
  margin-top: 0.5rem;
}

.heading {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.detailSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.detailHeadText {
  font-weight: bold;
  margin-bottom: 20px;
}
