.heading {
  font-weight: bold;
}

.basic {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1rem;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 768px) {
  .basic {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
